<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

  <title>chattify - be connected simply</title>

  <!-- stylesheets -->
  <%- include("../_share/stylesheets.ejs"); %> 

  <!-- ogp common settings -->
  <%- include("../_share/ogp.ejs"); %>

  <!-- favicon -->
  <link rel="icon" href="public/images/favicon/favicon.png">
  
</head>
<body>

  <!-- header -->
  <%- include("../_layouts/header.ejs"); %>
  
  <!-- main contents -->
  <%- include("../_index/main.ejs"); %>
  
  <!-- footer -->
  <%- include("../_layouts/footer.ejs"); %>

</body>
</html>
